@{
    Layout = "_Layout";
}
@using Library.Models;
@model Library.Models.Book;

@if(@ViewBag.CheckList.Count == 0)
{
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">There are no authors yet! Add an author before trying to add a book!</h1>
        @Html.ActionLink("Add Author","Create","Author", null, new { @class = "button btn btn-success"})
    </div>     
</div>
}
else
{
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Add a New Book</h1>
    </div>     
</div>
<div class="card">
    <div class ="card-body">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new {@class = "form-control"})
            <br>
            @Html.LabelFor(model => model.Description)
            @Html.TextBoxFor(model => model.Description, new {@class = "form-control"})
            <br>
            @Html.Label("Author")
            @Html.DropDownList("AuthorId")
            <br>
            <input type="submit" value="Add Client" class="btn button btn-success";>
        }
    </div>
</div>
}